@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container-wrapper {
    @apply max-w-[1240px] w-[90%] mx-auto;
  }
}

@font-face {
  font-family: "ninja";
  src: url("/fonts/ninja.ttf");
}

.font-ninja {
  font-family: "ninja";
}

@font-face {
  font-family: "helvetica";
  src: url("/fonts/Helvetica.ttf");
}

.font-helvetica {
  font-family: "helvetica";
}

body {
  width: 500px;

  background-color: #9195a3;
  margin: auto;
}

.stage {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  height: 3.33333rem;
  z-index: 1;
  margin-bottom: -0.2rem;
  background: url(/public/images/stage-f0b7a560.png) no-repeat center center /
    100% 100%;
}
@keyframes roll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-roll-up {
  animation: roll-up 12s linear infinite;
}

.animate-none {
  animation: none !important;
}
.react-tabs__tab{
  border: 1px solid  #fe5444;

  margin: 5px 10px;
  border-radius: 10px;
 

}

.react-tabs__tab--selected{
  background-color: #fe5444;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

.data-v-d18c566e::after {
  content: "";
  display: block;
  width: 100%;
  height: 6rem;
  position: absolute;
  background-color: #f7f8ff;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.data-v-67fe8f9c::after {
  content: "";
  position: absolute;
  left: 3%;
  top: 2%;
  background: linear-gradient(180deg, #ff5f5e 0%, #f64646 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
}
