@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container-wrapper {
    @apply max-w-[1240px] w-[90%] mx-auto;
  }
}

@font-face {
  font-family: "ninja";
  src: url("/fonts/ninja.ttf");
}

.font-ninja{
  font-family: "ninja";
}




body{
width: 500px;


  background-color: #9195a3;
  margin: auto;
}

.stage{
  position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    height: 3.33333rem;
    z-index: 1;
    margin-bottom: -0.2rem;
    background: url(/public/images/stage-f0b7a560.png) no-repeat center center / 100% 100%;
}
@keyframes roll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-roll-up {
  animation: roll-up 12s linear infinite;
}

.animate-none {
  animation: none !important;
}

@media (max-width:768px) {
  body{
    width: 100%;
  }
  
}
